.fotos{
	width:100%;
    height:50%;
    clear: both;
    float: left;
    margin:0px 15px 0px 15px;
    padding: 15px 0px 15px 0px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto; 
}

.textoMenuPrin{
  color: #FFF;
  font-family: English;
  font: bold;
  text-align:center;
  font-style: normal;
  font-weight: bold;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size:23px;
  height:100%;
  width:100%;  
    }