   <ion-view view-title="Animales">
    <ion-content id="fhm_page">
      <div class="fhm_container">
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-disabled="UsuarioSecuencia.isPlaying()" ng-click="TocarPiano('elefante')" class="push_button_animal">
              <img src="img/elefante.jpg">
           </button>
          </div>
          <div class="fhm_item">
            <button ng-disabled="UsuarioSecuencia.isPlaying()" ng-click="TocarPiano('gallo')" class="push_button_animal">
              <img src="img/gallo.jpg">
      </button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-disabled="UsuarioSecuencia.isPlaying()" ng-click="TocarPiano('leon')" class="push_button_animal">
              <img src="img/leon.jpg">
      </button>
          </div>
          <div class="fhm_item">
            <button ng-disabled="UsuarioSecuencia.isPlaying()" ng-click="TocarPiano('vaca')"class="push_button_animal">
              <img src="img/vaca.jpg">
      </button>
          </div>
        </div>
        <div class="fhm_row">
          <div class="fhm_item">
            <button ng-disabled="UsuarioSecuencia.isPlaying()" ng-click="TocarPiano('perro')"class="push_button_animal">
              <img src="img/perro.jpg">
      </button>
          </div>
          <div class="fhm_item">
            <button ng-disabled="UsuarioSecuencia.isPlaying()" ng-click="TocarPiano('gato')"class="push_button_animal">
              <img src="img/gato.jpg">
           </button>
          </div>
        </div>
  </div>

     </ion-content>
</ion-view>