   <ion-view view-title="Animales">
    <ion-content id="fhm_page">
    <button ng-click="PlaySecuencia()" style="margin:5px" class="button button-small icon-left ion-play button-positive"> Reproducir </button>

        <button ng-click="SaveSecuencia()" style="float:right;margin:5px" class="button button-small icon-right ion-ios-recording  button-positive">Guardar  <br></button>


    <table>
    <tr><td>
          <div class="fotos">
            <button ng-click="Reproducir('elefante')" class="push_button_animal">
              <img src="img/elefante.jpg">
           </button>
          </div>
          </td>
          <td>
          <div class="fotos">
            <button ng-click="Reproducir('gallo')" class="push_button_animal">
              <img  src="img/gallo.jpg">
            </button>
          </div>
          </td>        
     </tr>

     <tr>
     <td>
          <div class="fotos">
            <button ng-click="Reproducir('leon')" class="push_button_animal">
              <img src="img/leon.jpg">
            </button>
          </div>
     </td>
     <td>
          <div class="fotos">
            <button ng-click="Reproducir('vaca')" class="push_button_animal">
              <img src="img/vaca.jpg">
            </button>
          </div>
      </td>    
      </tr>   
      
      <tr>     
      <td>
          <div class="fotos">
            <button ng-click="Reproducir('perro')" class="push_button_animal">
              <img src="img/perro.jpg">
            </button>
        </div>
      </td>
      <td>        
          <div class="fotos">
            <button ng-click="Reproducir('gato')" class="push_button_animal">
              <img src="img/gato.jpg">
           </button>
          </div>
          </td>
        </tr>   

  </table>

     </ion-content>
</ion-view>